			.tabs__row {
				height: 100%;
				min-width: 300px;
				position: relative;
			}
			
			.image-weather {
				width: 78px;
				max-width: 78px;			
				position: relative;
			}
			.sity-name {
				position: absolute;
				left: 12px;
				bottom: 17px;
				font-size: 24px;
				line-height: 28px;
				font-weight: 100;
			}
			.tabs__like {
				position: absolute;
				width: 22px;
				height: 22px;
				right: 20px;
				bottom: 20px;
				cursor: pointer;
				font-size: 22px;
			}
			.tabs__temperature {
				font-size: 70px;
				line-height: 82px;
				padding-left: 23px;
				padding-top: 20px;
				font-weight: normal;
			}
			.content__row {
				display: flex;
			}
			.tabs__block {
				position: relative;
				height: 344px;
			}
			/* .tabs__block:before {
				content: "";
				height: 44px;
				width: 33.333%;
				position: absolute;
				top: 344px;
			} */
			/* .tabs__block:nth-child(1)::before {
				background-color: black;
				color: white;
				left: 0;
			}
			.tabs__block:nth-child(2)::before {
				background-color: black;
				color: white;
				left: 33.333%;
			}
			.tabs__block:nth-child(3)::before {
				background-color: black;
				color: white;
				right: 0;
			} */
			/* .tabs__block:target {
				display: block;
			} */
			.cloudy {
				height: auto;
				position: absolute;
				left: 102px;
				top: 33px;
			}