.tabs__description {
	padding-left: 15px;
	font-size: 24px;
	line-height: 28px;
	font-weight: 200;
	margin-bottom: 15px;
}
.tabs__description:last-child {
	margin-bottom: 0;
}
.tabs__block {
	position: relative;
	height: 344px;
}
.scroll {
	overflow: scroll;
	height: 100%;
}
.tabs__sity-name {
	padding-left: 7px;
	padding-top: 33px;
	font-size: 24px;
	font-weight: 100;
	line-height: 28px;
	margin-bottom: 42px;
}
.tabs__weather {
	border: 1px solid;
	height: 120px;
	width: 265px;
	font-size: 18px;
	font-weight: 200;
	line-height: 21px;
	position: relative;
	margin-left: 3px;
	margin-bottom: 30px;
}
.tabs__date {
	position: absolute;
	left: 8px;
	top: 6px;
}
.tabs__clock {
	position: absolute;
	top: 6px;
	right: 12px;
	height: 21px;
	width: 45px;
}
.tabs__temperatures {
	position: absolute;
	top: 50px;
	left: 8px;
	font-size: 18px;
	font-weight: 200;
	line-height: 21px;
}
.tabs__rain {
	position: absolute;
	height: 21px;
	width: 36px;
	top: 50%;
	right: 10%;
}
.tabs__likes {
	position: absolute;
	left: 8px;
	bottom: 13px;
	font-size: 18px;
	font-weight: 200;
	line-height: 21px;
}

.img-rain {
	position: absolute;
	right: 8%;
	top: 80px;
	height: 31px;
	width: 31px;
}